html, body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100vw; */
    overflow: hidden;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/10/19/03/35/christmas-2866377_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/08/26/08/16/mario-3631666_1280.png); */
}
    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        height: 1000px;
        /* border: solid black; */
        /* margin: 0 auto; */
        margin-right: 5px;
    }

.grid div {
    width:  50px;
    height: 50px;  
    text-align: center;
    color:#fff;
}
/* .border {
    border: 1px solid #000;
} */
.flex{
    display:flex;
    flex-direction: row;
}
.background_color {
    background: #fff;
}

.red {
    background: rgb(184, 34, 34);
}
.gold {
    background: rgb(145, 124, 30);
}
.skin {
    background: rgb(250, 181, 30);
}
.blue {
    background: blue;
}
.green{
    background: green;
}
.white{
    background: #fff;
}
.change_background {
    background: rgb(0, 0, 0);
}
