html, body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100vw; */
    overflow: hidden;
    /* background-image: url(https://cdn.pixabay.com/photo/2017/10/19/03/35/christmas-2866377_1280.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/08/26/08/16/mario-3631666_1280.png); */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    /* border: solid black; */
    /* margin: 0 auto; */
}

.grid div {
    width:  50px;
    height: 50px;  
    text-align: center;
    color:#fff;
}
.flex{
    display:flex;
    flex-direction: row;
}
.hide{
    /*why this won't work*/
    /* display: none;     */
    opacity: 0;
}
.background_color {
    background: #fff;
}

.hat {
    background: rgb(184, 34, 34);
}
.hair {
    background: rgb(145, 124, 30);
}
.skin {
    background: rgb(250, 181, 30);
}
.blue {
    background: blue;
}
.green_hair{
    background: green;
}
.change_background {
    background: rgb(0, 0, 0);
}
@media screen and (min-width: 1200px){
    .grid {
        width: 1000px;
        height: 1000px;
    }

    .grid div {
        width:  50px;
        height: 50px;  
    }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .grid {
        width: 800px;
        height: 800px;
    }

    .grid div {
        width:  40px;
        height: 40px;  
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .grid {
        width: 500px;
        height: 500px;
    }

    .grid div {
        width:  25px;
        height: 25px;  
    }
}

@media screen and (max-width:700px){
    .grid {
        width: 200px;
        height: 200px;
    }

    .grid div {
        width:  10px;
        height: 10px;  
    }
}